<!DOCTYPE html>
<html>
 
  <head>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <script src="js/angular.min.js"></script>
    <link rel="stylesheet" href="css/style.css" />
    <script src="js/script.js"></script>
    <script src="js/directive.js"></script>
  </head>

  <body ng-app="todo" ng-controller="TodoCtrl">
    <div class="container">
      <!-- <h1>Todo List</h1> -->
      
      <!-- todo-title : 디렉티브 -->
      <todo-title></todo-title>
      
      <!-- form에 데이터 바인딩 시에는 ng-model 사용 -->
      <!-- name을 주면 $scope 변수에 todoForm 이라는 변수가 생성되는 것이다 -->
      
      <form name="todoForm" ng-submit="add(newTodoTitle)">
      	<div class="input-group">
      		<input type="text" class="form-control" minlength="3" placeholder="새로운 todo를 입력하세요." ng-model="newTodoTitle">
      		<span class="input-group-btn">
      			<button class="btn btn-success" type="submit">추가</button>
      		</span>
      	</div>
      	
      	<!-- ng-show:true 일때만 출력
      		$dirty : 인풋폼에 입력이 되어있다.
      		$invalid : 조건에 불만족 한다.
      	 -->
      	<div ng-show="todoForm.$dirty && todoForm.$invalid">
	      	<div class="alert alert-primary" role="alert">
			  3글자 이상 입력해주세요.
			</div>
      	</div>
      	
      </form>
      
      <ul class="list-unstyled"><!-- $scope로 지정해 두었던 todos 배열변수 사용 -->
        <li ng-repeat="todo in todos | filter:statusFilter">
          <!-- <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <input type="checkbox" ng-model="todo.completed" />
              </div>
            </div>
            <input type="text" class="form-control" ng-model="todo.title" />
            <span class="input-group-btn">
              <button class="btn btn-danger" type="button" ng-click="remove(todo)">Delete</button>
            </span>
          </div>
          <date>{{todo.createdAt| date:'yyyy MM dd'}}</date> -->
          
          
           <!-- 위의 방식을 디렉티브로 구현 -->
          <todo-item>
          
          </todo-item>
        </li>
      </ul>
      
      <button class="btn btn-primary" ng-click="statusFilter={completed:true}">Complete</button>
      <button class="btn btn-primary" ng-click="statusFilter={completed:false}">Active</button>
      <button class="btn btn-primary" ng-click="statusFilter={}">All</button>
      
    </div>
  </body>

</html>
